[Desktop Entry]
Type=Service
MimeType=text/*;application/*
Actions=docs2pdf;
X-KDE-Submenu=Documents Actions
X-KDE-Priority=TopLevel


[Desktop Action docs2pdf]
Name=Convert documents to PDF
Exec=unoconv --timeout 20 --format pdf %F
