[Desktop Entry]
Type=Service
MimeType=inode/directory;
Actions=add_commit_all;replace_last_commit
X-KDE-Submenu=Git
X-KDE-Priority=TopLevel
X-KDE-RequiredNumberOfUrls=1


[Desktop Action add_commit_all]
Exec=konsole -e ~/.local/share/kio/servicemenus/git_add_commit_all.sh %U
Name=Add new commit with All files

[Desktop Action replace_last_commit]
Exec=konsole -e ~/.local/share/kio/servicemenus/git_replace_recent_commit.sh %U
Name=Replace recent commit
