[Desktop Entry]
Type=Service
MimeType=image/*
Actions=image_convert;image_crop;image_gamma;image_gray;image_merge;image_resize;image_rotate
X-KDE-Submenu=Images Actions
X-KDE-Priority=TopLevel


[Desktop Action image_convert]
Name=Convert
Exec=for file in %F; do args=$args';'$file; done; /home/user/.local/share/kio/servicemenus/image_convert.sh "${args:1}"

[Desktop Action image_crop]
Name=Crop
Exec=for file in %F; do args=$args';'$file; done; /home/user/.local/share/kio/servicemenus/image_crop.sh "${args:1}"

[Desktop Action image_gamma]
Name=Gamma
Exec=for file in %F; do args=$args';'$file; done; /home/user/.local/share/kio/servicemenus/image_gamma.sh "${args:1}"

[Desktop Action image_gray]
Name=Gray
Exec=for file in %F; do args=$args';'$file; done; /home/user/.local/share/kio/servicemenus/image_gray.sh "${args:1}"

[Desktop Action image_merge]
Name=Merge
Exec=for file in %F; do args=$args';'$file; done; /home/user/.local/share/kio/servicemenus/image_merge.sh "${args:1}"

[Desktop Action image_resize]
Name=Resize
Exec=for file in %F; do args=$args';'$file; done; /home/user/.local/share/kio/servicemenus/image_resize.sh "${args:1}"

[Desktop Action image_rotate]
Name=Rotate
Exec=for file in %F; do args=$args';'$file; done; /home/user/.local/share/kio/servicemenus/image_rotate.sh "${args:1}"
