[Desktop Entry]
Type=Service
MimeType=image/jpeg;
Actions=jpg_opti
X-KDE-Submenu=Images Actions
X-KDE-Priority=TopLevel


[Desktop Action jpg_opti]
Name=JPG Optimization
Exec=for file in %F; do args=$args';'$file; done; ~/.local/share/kio/servicemenus/images_jpg_opti.sh "${args:1}"
