[Desktop Entry]
Type=Service
MimeType=image/*
Actions=image_convert;image_merge;image_resize;image_rotate


[Desktop Action image_convert]
Name=Images Convert
Exec=for file in %F; do args=$args';'$file; done; /home/user/.local/share/kio/servicemenus/image_convert.sh "${args:1}"

[Desktop Action image_merge]
Name=Images Merge
Exec=for file in %F; do args=$args';'$file; done; /home/user/.local/share/kio/servicemenus/image_merge.sh "${args:1}"

[Desktop Action image_resize]
Name=Images Resize
Exec=for file in %F; do args=$args';'$file; done; /home/user/.local/share/kio/servicemenus/image_resize.sh "${args:1}"

[Desktop Action image_rotate]
Name=Images Rotate
Exec=for file in %F; do args=$args';'$file; done; /home/user/.local/share/kio/servicemenus/image_rotate.sh "${args:1}"
