[Desktop Entry]
Type=Service
MimeType=image/jpeg;
Actions=jpg_compress
X-KDE-Submenu=Images Actions
X-KDE-Priority=TopLevel


[Desktop Action jpg_compress]
Name=JPG compress
Exec=for file in %F; do args=$args';'$file; done; ~/.local/share/kio/servicemenus/images_jpg_compress.sh "${args:1}"
