[Desktop Entry]
Type=Service
MimeType=image/webp;
Icon=graphics
Actions=webp_opti
X-KDE-Submenu=Images Actions
X-KDE-Priority=TopLevel


[Desktop Action webp_opti]
Name=WEBP Optimization
Exec=for file in %F; do args=$args';'$file; done; ~/.local/share/kio/servicemenus/images_webp_opti.sh "${args:1}"
