[Desktop Entry]
Type=Service
MimeType=image/png;
Icon=graphics
Actions=png_opti;png2gif
X-KDE-Submenu=Images Actions
X-KDE-Priority=TopLevel


[Desktop Action png_opti]
Name=PNG Optimization
Icon=image-png
Exec=for file in %F; do args=$args';'$file; done; ~/.local/share/kio/servicemenus/images_png_opti.sh "${args:1}"

[Desktop Action png2gif]
Name=PNG to gif
Icon=image-png
# Exec=gifski --width 1600 --quality 50 --fps 0.5 --output "output.gif" %F
Exec=~/.local/share/kio/servicemenus/images_gifski.sh %F
