[Desktop Entry]
Type=Service
MimeType=image/png;
Actions=png_opti
X-KDE-Submenu=Images Actions
X-KDE-Priority=TopLevel


[Desktop Action png_opti]
Name=PNG Optimization
Exec=for file in %F; do args=$args';'$file; done; ~/.local/share/kio/servicemenus/images_png_opti.sh "${args:1}"
