[Desktop Entry]
Type=Service
MimeType=video/*;audio/*
Actions=media_cut
X-KDE-Submenu=Media Actions
X-KDE-Priority=TopLevel
X-KDE-RequiredNumberOfUrls=1


[Desktop Action media_cut]
Name=Cut
Exec=~/.local/share/kio/servicemenus/media_cut.sh "%F"
