[Desktop Entry]
Type=Service
MimeType=video/*;audio/*
Actions=media_cut_waste
X-KDE-Submenu=Media Actions
X-KDE-Priority=TopLevel


[Desktop Action media_cut_waste]
Name=Cut waste in start and finish (OBS)
Exec=~/.local/share/kio/servicemenus/media_cut_waste.sh %u

