[Desktop Entry]
Type=Service
MimeType=inode/directory;application/octet-stream;
Icon=org.gnome.meld
Actions=setArg1;setArg2;compare2files;compare3files;
X-KDE-Submenu=Compare Actions
X-KDE-Priority=TopLevel
X-KDE-RequiredNumberOfUrls=1


[Desktop Action setArg1]
Icon=document-compareleft
Exec=mkdir /tmp/meld; echo %U > /tmp/meld/arg1;
Name=Mark for use in left column

[Desktop Action setArg2]
Icon=document-compareleft
Exec=mkdir /tmp/meld; echo %U > /tmp/meld/arg2;
Name=Mark for use in middle column

[Desktop Action compare2files]
Icon=document-compareright
Exec=ARG1=$(cat "/tmp/meld/arg1"); meld "$ARG1" %U
Name=Compare selected with marked for left column (2 files)

[Desktop Action compare3files]
Icon=document-compareright
Exec=~/.local/share/kio/servicemenus/meld.sh %U
Name=Compare selected with marked for left and middle columns (3 files)
