[Desktop Entry]
Type=Service
MimeType=image/png;
Actions=png8

[Desktop Action png8]
Name=PNG 8bit convert
Exec=for file in %F; do args=$args';'$file; done; /home/user/.local/share/kio/servicemenus/png8.sh "${args:1}"
