[Desktop Entry]
Type=Service
MimeType=inode/directory;application/octet-stream
Actions=test;


[Desktop Action test]
Name=Test
# Exec=for file in %F; do args=$args';'$file; done; ~/.local/share/kio/servicemenus/delete.sh "${args:1}"
# Exec=IFS=$';';~/.local/share/kio/servicemenus/test.sh %U
Exec=~/.local/share/kio/servicemenus/test.sh %U
