[Desktop Entry]
Type=Service
MimeType=inode/directory;application/octet-stream
Actions=time_stamp;


[Desktop Action time_stamp]
Name=Add timestamp to name
Exec=for file in %F; do args=$args';'$file; done; /home/user/.local/share/kio/servicemenus/timestamp.sh "$args"
