[Desktop Entry]
Type=Service
MimeType=inode/directory;application/octet-stream
Actions=wget;
X-KDE-RequiredNumberOfUrls=1


[Desktop Action wget]
Name=Download file from clipboard link
Icon=download
Exec=~/.local/share/kio/servicemenus/wget.sh %u
