[Desktop Entry]
Type=Service
MimeType=inode/directory;application/octet-stream
Actions=ytdlp;
X-KDE-RequiredNumberOfUrls=1


[Desktop Action ytdlp]
Name=Download video from clipboard link
Icon=video
Exec=konsole --profile 'ytdlp' -e ~/.local/share/kio/servicemenus/ytdlp.sh %u
